body{
    background-color: #f7f7f7;
}
/*navbar styles section start*/
.bi-bag-heart{
    color: black;
}
.loginbut{
    border-radius: 5px;
    background-color:blueviolet;  /*login/signup button style*/
    color: white;
    
}
.bar:hover{
    color: red;
    font-weight:600; /*navbar links hover*/
}
.loginbut:hover{
    box-shadow: 3px 3px 5px cornflowerblue; /*login/signup button  hover*/
}
/*navbar styles section end*/

/*feed-section styles section start*/
.feedimg{
    border-radius: 50%;
}
.feedimg:hover{ 
     border:2px solid green;  
}

/*feed-section styles section end*/
.war-m{
    border-radius: 8px;
}
/*faq-section styles section start*/
.faqmain{
    border: 4px solid rosybrown;
    border-radius: 4px;
}
.butcol{
    background-color: bisque;
}
/*faq-section styles section end*/

/*footer-section styles section start*/
.brand-img-footer{
 width: 120px;
 height: 60px;
 border-radius: 8px;
}
.move{
    transition: all 0.2s ease;
    display: inline-block;
    
}
.move:hover{
    transform: translateY(5px);
    
}
.footer-title{
    color: brown;
}
.footer-link{
    text-decoration: none;
    color: rgb(112, 112, 222);
}
.footer-link:hover{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.conf{
    color: rgb(112, 112, 222);
}
.conf:hover{
   color: aliceblue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
/*footer-section styles section end*/
/*know your size-section styles section start*/
.know-your-size {
      font-size: 32px;
      font-weight: 700;
      background: linear-gradient(90deg, #ff6a00, #ee0979);
      text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
      border-radius: 12px;
      transition: transform 0.3s ease;
      cursor: pointer;
      margin-bottom: 5px;
      
    }

    .know-your-size:hover {
      transform: scale(1.05);
    }

    .arrow {
      margin-left: 8px;
      display: inline-block;
      animation: moveArrow 1s infinite alternate ease-in-out;
    }

    @keyframes moveArrow {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(8px);
      }
    }

    .sizeborder{
        border: solid 2px red;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #f3f4f6;
    }
    .sizebut{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .know-your-size{
        padding: 5px;
        color:cornsilk;
    }
/*know your size-section styles section end*/

/*model card-section styles section starts*/
.cardimgstyle{
    border-radius: 50%;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 4px;
}
/*model card-section styles section ends*/